body {
    background-color: white;
    color: black;
    font-size: 20px;
}

header {
    width: 100%;
    position: fixed;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

nav {
    background-color: #1944b0;
    padding:20px;
    border-radius: 20px;
}

main {
    width: 80%;
    text-align: center;
    //margin: auto;
    vertical-align: top;
    display: inline-block;
}

aside {
    position: fixed;
    padding-top: 100px;
    vertical-align: top;
    display: inline-block;
}

.panelAd {
    padding: 20px;
    background-color: #ccd5ed;
    border-radius: 20px;
}

footer {
    height: 50px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.infoBox {
    height: 150px;
    background-color: white;
    padding: 20px;
}

.infoBoxContainer {
    background-color: #ccd5ed;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border-radius: 20px;
}

.stockBox {
    height: 300px;
    color: green;
    background-color: white;
    padding: 20px;
}

.stockBoxContainer {
    background-color: #ccd5ed;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
